img {
  height: 70vh;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
}

div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
}

h1,
a {
  margin: auto;
}

.woosh {
  font-size: 5em;
  color: dodgerblue;
}
